.tools{
  max-width: var(--grid-container);
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  padding: var(--pad-container);
  gap: 4rem;
}

.tools .bot-img{
  width: 100%;
  padding: 3rem 5rem;
}

.tools .bot-work{
  margin: auto;
  width: 100%;
}

.tools .bot-work h3{
  font-size: var(--head2);
  font-weight: 500;
  color: var(--neutral-09);
}

.tools .bot-work span{
  font-weight: 700;
  color: var(--background-tertiary);
}

.tools .bot-work p{
  width: 80%;
  margin-top: 1rem;
  font-size: var(--body1);
  color: var(--neutral-08);
}

.tools .bot-work img{
  width: 80%;
  margin-top: 2rem;
}

@media screen and (max-width: 960px) {
  .tools{
    flex-direction: column;
  }

  .tools .bot-img{
    width: 80%;
    padding: 2rem;
  }

  .tools .bot-work img{
    width: 100%;
  }
}