.header{
  max-width: var(--grid-container);
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.25rem 0 ;
  border-bottom: 2px solid var(--background-tertiary);
}

.links nav{
  display: flex;
  gap: 1.125rem;
}

@media screen and (max-width: 960px) {
  .header{
    display: none;
  }
}